# Ignore everything in the /data/ directory
/data/00-Compressed-Data/*
/data/01-Raw-Data/*
/data/02-PreProcessed-Data/*

# Except for the .gitkeep file
!/data/00-Compressed-Data/.gitkeep
!/data/01-Raw-Data/.gitkeep
!/data/02-PreProcessed-Data/.gitkeep

# Ignore specific files/folders outside of /data/
**/.ipynb_checkpoints
module_design_structure.txt
