# Ignore everything in the /data/ directory
/data/*

# Except for the .gitkeep file
!/data/.gitkeep

# Ignore specific files/folders outside of /data/
**/.ipynb_checkpoints
module_design_structure.txt
